:root {
  background-color: #141414;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-main {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-alt {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-alt-r {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-alt-m {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin:0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pill-text {
  font-size: 14px;
}

.pill {
  border:none;
  border-radius: 100px;
  display: inline-block;
  padding: 8px 16px;
}

.pinkurple {
  background: rgb(208,109,255);
  background: linear-gradient(90deg, rgba(208,109,255,1) 0%, rgba(255,85,238,1) 100%);
}

h1, h2, h3, h4, h5 {
  margin:0;
}

